.about {
    background-color: #2988bc;
}

.fab {
    /* padding: 5px; */
    text-align: center;
    text-decoration: none;
}
.fab:hover {
    opacity: 0.7;
}

.about .card-footer {
    border-color: transparent;
}