.contact {
    background-color: var(--backround);
}

.form-group{
    margin-bottom: 25px;
}

.form-control{
    padding: 25px;
}

textarea .form-control {
    min-height:  275px !important;
}

form button {
    /* background-color: var(--primary)  !important;
    border-color: var(--primary)  !important; */
    padding: 15px 20px !important;
}


form button:hover {
    background-color: #2c6995  !important;
    border-color: #2c6995  !important;
}