.home {
	background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.1)), url(/src/img/background.jpg);
    height: 100vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.home_content {
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

/* #profile_pic {

} */

.img-circle {
    width: 250px;
    height: 250px;
    background-size: cover;
    display: block;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;

    object-fit: cover;
    object-position: top;
}