.projects {
    background-color: var(--backround-1);
}

.projects .nav-link {
    /* margin: 0 2rem; */
    color: white;
    font-size: large;
}

/* .projects .nav-item .active {
    background-color: var(--primary) !important;
    color: var(--primary) !important;
} */

.nav-link:hover {
    color: var(--primary)
}