.footer {
    padding-bottom: 2rem;
    padding-top: 4rem;
    background-color: var(--backround-1);
}

.quicklinks {
    text-transform: none;
}

.list-inline > li {
    display: inline-block;
    padding: 0 5px;
    font-weight: bold;
}

.list-inline > li:hover {
    display: inline-block;
    padding: 0 5px;
    font-weight: bold;
    text-decoration: underline;
}

.copyright{
    line-height: 50px;
}