.navbar-shrink {
    font-size: 1rem !important;
    background-color: var(--backround-1);
    padding: 10px !important;
}

.navbar-expand-lg, .bg-transparent, .navbar-shrink {
    transition: 0.15s all ease;
}

.navbar-brand {
    font-size: 2rem;
    color: var(--primary);
}
.navbar-brand:visited, .navbar-brand:active {
    color: var(--primary);
}

.navbar-nav .nav-item .nav-link{
    font-size: 1.2rem;
    color: white;
    transition: 0.15s all ease;
}

.navbar-nav .nav-item .nav-link:hover{
    color: var(--primary);
    transition: 0.15s all ease;
}

.navbar-nav .nav-item .active{
    font-size: 1.2rem;
    color: var(--active);
    transition: 0.15s all ease;
}

.navbar-toggler {
    background-color: var(--primary);
    transition: 0.15s all ease;
}

