.card-body {
    color: white;
}

.service-icon i {
    /* margin: 1rem 1rem 0 1rem; */
    padding: 1rem;
    font-size: 5rem;
    font-weight:bold;
    background-color: var(--bs-dark);
    color: var(--primary);

    border-radius: 50%;

    width: 150px;
    height: 150px;
    padding-top: 2rem;
}
.service-icon {
    margin: 0 !important;
}