/* // using node-style package resolution in a CSS file:  */
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

:root {
  --primary: #92c8f7;
  --active: #8ac4f7;
  --backround: rgb(28, 30, 31);

  --backround-2: #6787AB;
  --backround-3: #4B4C2A;
  --backround-4: #DEE6F0;
}

html {
  height:100%;
  scroll-behavior: smooth;
} 

body {
  margin: 0;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

.content-section {
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 12px;
  padding-right: 12px;
}

h2 {
  font-size: 3rem !important;
}

h4 {
  font-size: 2rem !important;
}

h5 {
  font-size: 1.75rem !important;
}

p {
  font-size: 1.25rem !important;
}